/*Main Body CSS*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Screen Wdith Specifics*/
@media (min-width: 360px){

    .alert{

        font-size: 8px;

    }


}  

@media (min-width: 1020){

    .alert{

        font-size: 12px;

    }


}   

@media (min-width: 1021px){

    .alert{

        font-size: 14px;

    }


}

body {

    margin: 0;
    font-family: 'Noto Sans';
    font-size: 16px;
    background-color: #020202;
    /*background-color: red;*/


}


.alert{

    color: #f2f2f2;

    padding-left: 0.5%;
    padding-right: 0.5%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin-left: auto;
    margin-right: auto;

    align-content: center;

    font-weight: bold;

}

.heroText{

    color: #fefefe;
    
    margin-top: 0%;
    margin-bottom: 0%;

    text-align: right;

}





a:link,
a:visited {
    color: #1e1e1e;
}

.navBarBlk {

    background-color: #090909;

    padding-left: 10%;
    padding-right: 10%;

    margin-left: auto;
    margin-right: auto;

}

.navLogoImg {
    padding-left: 0%;
    padding-right: 0%;
}

.tableNav {

    width: 100%;
    max-height: 70px;

    display: table;
    color: #f2f2f2;
    font-size: 16px;
    background-color: #090909;

    border-collapse: collapse;
    border-spacing: 0px;

}

.tableNav td {

    background-color: #090909;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;

    border-spacing: 0px;

    height: 70px;

    text-align: center;
    align-content: center;

}

.tableNav a {

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;

    width: 100%;


}

.tableNav tr {

    height: 70px;
}

.tableNav td.active a {

    color: #F5E25D;

}

.tableNav a:hover {

    text-decoration: underline;

}

.tableNav img {

    max-width: 60px;
    max-height: 60px;

    padding: 0%;

    display: block;

}

.genericTable {

    margin: 0%;

    padding: 0%;

    border: 0px;

    border-collapse: collapse;
}

.aniHover {

    animation-name: navAnimation;

    animation-duration: 0.85s;

}

@keyframes navAnimation {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }

}

.aniHoverExit {

    animation-name: navExit;

    animation-duration: 0.85s;
}

@keyframes navExit {

    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }

}



.closeBtn {

    margin-left: 15px;
    color: #f2f2f2;
    float: right;
    font-size: 24px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeBtn:hover {

    color: #1e1e1e;
}

.tableBlank {

    width: 40%;
}

.pagebody {

    background-color: #CFEEF7;

}

.displayBlock {

    padding-left: 10%;
    padding-right: 10%;

}

.displayTable {

    background-color: #CFEEF7;

    border-collapse: collapse;
    border: 0px;

    padding: 0%;

    margin: 0%;

    width: 100%;
    height: 100%;
}

.displayTable tr {


    height: 100%;
    width: 100%;

    padding: 0%;


}

.displayTable td {

    height: 100%;
    width: 80;

    padding: 0%;
    margin-left: auto;
    margin-right: auto;

    align-content: center;

}

.displayTable td.displayBlank {

    width: 10%;
}

.displayTable img {

    display: block;

    height: 100%;
    width: 100%;

}

.displayTable a {

    font-size: 24px;
    color: #1e1e1e;
    text-decoration: underline;
    text-decoration-line: 2px;
}

.bodytesting {

    display: grid;

    place-items: center;

    align-content: center;
}

.hidden {
    opacity: 0;
    /*transition: all 1.5s;*/

}

.show {
    opacity: 1;
}