body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #A1DDF0;
}

@media only screen and (max-width: 1020px) {
    
    .navBarBlk {

        background-color: #090909;
    
    }
    
    .tableNav {
    
        max-height: 60px;
        width: 100%;
    
        display: table;
        color: #f2f2f2;
        background-color: #090909;
        font-size: 15px;
    
        border-collapse: collapse;
        border-spacing: 0px;
    
    
    }
    
    .tableNav td {
    
        background-color: #090909;
    
        padding-top: 0px;
        padding-bottom: 0px; 
        padding-left: 5px;
        padding-right: 5px;
    
        border-spacing: 0px;
        height: 60px;
    
        text-align: center;
        align-content: center;
        
    }
    
    .tableNav a {
    
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
    
        width: 100%;
    
    
    }
    
    .tableNav tr {
    
        height: 60px;
    }
    
    .tableNav td.active a {
    
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    
    }
    
     .tableNav td.tableBtn:hover {
    
        background-color: #1e1e1e;
    
    }
    
    .tableNav img {
    
        max-width: 60px;
        max-height: 60px;
    
        display: block;
    
    }
    
    .tableBlank {
    
        width: 40%;
    }
    
    .pagebody {
    
        background-color: #CFEEF7;
    
        
    }
    
    .footer{
    
        left: 0;
        bottom: 0;
        width: 100%;
    
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    
        text-align: center;
    
        position: fixed;
    
        background-color: #04AA6D;
        color: #f2f2f2;
    
    }
    
    .bodytesting{
    
        display: grid;
    
        place-items: center;
    
        align-content: center;
    }
    
    .hidden{
        opacity: 0;
        transition: all 1.5s;
    
    }
    
    .show{
        opacity: 1;
    }
}

@media screen and (min-width: 1021px) {

    .navBarBlk {

        background-color: #090909;
    
    }
    
    .tableNav {
    
        max-height: 60px;
        width: 100%;
    
        display: table;
        color: #f2f2f2;
        background-color: #090909;
        font-size: 20px;
    
        border-collapse: collapse;
        border-spacing: 0px;
    
    
    }
    
    .tableNav td {
    
        background-color: #090909;
    
        padding-top: 0px;
        padding-bottom: 0px; 
        padding-left: 5px;
        padding-right: 5px;
    
        border-spacing: 0px;
        height: 60px;
    
        text-align: center;
        align-content: center;
        
    }
    
    .tableNav a {
    
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
    
        width: 100%;
    
    
    }
    
    .tableNav tr {
    
        height: 60px;
    }
    
    .tableNav td.active a {
    
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    
    }
    
     .tableNav td.tableBtn:hover {
    
        background-color: #1e1e1e;
    
    }
    
    .tableNav img {
    
        max-width: 60px;
        max-height: 60px;
    
        display: block;
    
    }
    
    .tableBlank {
    
        width: 40%;
    }
    
    .pagebody {
    
        background-color: #CFEEF7;
    
        
    }
    
    .footer{
    
        left: 0;
        bottom: 0;
        width: 100%;
    
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    
        text-align: center;
    
        position: fixed;
    
        background-color: #04AA6D;
        color: #f2f2f2;
    
    }
    
    .bodytesting{
    
        display: grid;
    
        place-items: center;
    
        align-content: center;
    }
    
    .hidden{
        opacity: 0;
        transition: all 1.5s;
    
    }
    
    .show{
        opacity: 1;
    }
    
}