body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*
.topNav{

    Overflow - React accordingly, should elements exceed the current tag space
    overflow: hidden;
    background-color: #333;
    display: inline-block;

    max-height: 50px;
    width: 100% ;

}

.topNav a{

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;

    margin-left: auto;
    margin-right: auto;

}

.topNav a:hover{

    background-color: #ddd;
    color: black;

}

.topNav a.active{

    background-color: #04AA6D;
    color: white;

    max-height: 50px;
}

.topNav img {

    left: 0%;
    padding: 0px;
    max-width:50px;
    max-height: 50px;

    align-items: start;

}
*/

.tableNav {

    max-height: 55px;
    width: 100%;

    display: inline-block;
    color: #f2f2f2;
    background-color: #333;
    font-size: 15px;

    border-collapse: collapse;
    border-spacing: 0px;

    
    
}

.tableNav td {

    background-color: #333;

    padding-top: 0px;
    padding-bottom: 0px; 
    padding-left: 5px;
    padding-right: 5px;

    border-spacing: 0px;
    height: 55px;
    
}

.tableNav a {

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;

}

.tableNav tr {

    height: 55px;
}

.tableNav td.active {

    background-color: #04AA6D;
    color: white;

}

 .tableNav td.tableBtn:hover {

    background-color: #1e1e1e;

}

.tableNav img {

    max-width: 100%;
    max-height: 100%;
    padding: 0px;

    display: block;

}

.footer{

    left: 0;
    bottom: 0;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;

    text-align: center;

    position: fixed;

    background-color: #04AA6D;
    color: #f2f2f2;

}
