

/*Mobile Screen Size*/
@media only screen and (max-width: 671px) {
    
    .navBarBlk{

        padding-left: 0%;
        padding-right: 0%;

    }
    .tableNav {

        font-size: 15px;

        padding-left: 0%;
        padding-right: 0%;

    }
}

/*Mobile Screen Size*/
@media only screen and (min-width: 671px) and (max-width: 1020px) {
    
    .tableNav {

        font-size: 15px;

        padding-left: 0%;
        padding-right: 0%;

    }
}

/*Medium Desktop Screen Size*/
@media only screen and (min-width: 1021px) and (max-width: 2140px) {

    .tableNav {
    
        font-size: 18px;
    
    }
    
}

/*Large Desktop Screen Size*/
@media only screen and (min-width: 2141px) {

    .tableNav {
    
        font-size: 21px;
    
    }
    
}