.body{
    align-self: center;
}
.platform{
    width: 700px;
    height: 500px;

    margin-left: auto;
    margin-right: auto;
}

.plat-head{

    background-color: aquamarine;

    max-height: 100px;
    
}

.plat-body{

    background-color: rgb(0, 90, 60);
}

